/* Default styles for all screens */
.App {
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
  height: 100vh;
  text-align: center;
  width: 100%;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  padding: 15px;
  width: 15%;
  border-radius: 5px;
  border-style: none;
  text-align: left;
  font-size: large;
  margin-bottom: 20px;
}

table.styled-table {
  width: 50%;
  font-size: 20px;
  background-color: #b06ab3;
  color: #ffffff;
  text-align: left;
  border-radius: 15px;
}

table.styled-table th,
table.styled-table td {
  padding: 12px 25px;
}

table.styled-table tr {
  border-bottom: 1px solid #dddddd;
}
table.styled-table tr th{
  letter-spacing: 2px;
  background-color: #482f4998;
  border-radius: 15px;
}

table.styled-table tr:nth-of-type(even) {
  background-color: #ffffff;
  color: black;
}

table.styled-table tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table.styled-table tr.active-row {
  font-weight: bold;
  color: #009879;
}

@media screen and (max-width: 768px) {

  .App {
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    width: 100%;
  }

  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  input {
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    border-style: none;
    text-align: left;
    font-size: large;
    margin-bottom: 20px;
  }

  table.styled-table {
    width: 80%; /* Adjust the width to your desired value */
    font-size: 16px;
    background-color: #b06ab3;
    color: #ffffff;
    text-align: left;
    border-radius: 15px;
  }

  table.styled-table th,
  table.styled-table td {
    padding: 12px 10px;
    
    
  }

  table.styled-table tr {
    border-bottom: 0px solid #dddddd;
  }

  table.styled-table tr th {
    letter-spacing: 2px;
    background-color: transparent;
    border-radius: 0px;
    
  }

  table.styled-table tr:nth-of-type(even) {
    background-color: #ffffff;
    color: black;
  }

  table.styled-table tr:last-of-type {
    border-bottom: 0px solid #009879;
  }

  table.styled-table tr.active-row {
    font-weight: bold;
    color: #009879;
  }
}
